{% extends 'dashboard/base.html' %}
{% block page_content %}
    <div class="bg-gradiant">
        <div class="container">
                <h1 class="text-center color-blue font-weight-bold">Best Services and Consulting for<br> Business</h1>
        </div>
    </div>
<!-- section 1 -->

        <section class="text-lg-left dark-grey-text my-container">

          <!--Grid row-->
          <div class="row">

          	<!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-12 mb-md-0">

              <!--Image-->
              <div class="view overlay">
                <img src="/static/img/image-about-1-half.jpg" class="img-fluid" alt="" style="float: right;">
                <a href="#">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-12 mb-md-0">
              <h3 class="font-weight-bold color-blue sec_title">Our Team Will Help You to <br>Become Better</h3>
    		  <div class="border-btm"></div><br>
    		  <h2 class="color-orange">We are ready to provide you with any financial, legal <br>and auditing help.</h2><br>
              <p class="text-muted">At Generisys our mission is to provide support and assistance to all <br>kinds of businesses, from large companies to fresh and daring startups! <br>Our experts are able to find new growth opportunities in your business</p><br>
              <button type="button" class="btn btn-normal">Learn More</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
        </section>
<!-- end secyion 1 -->


<!-- logo sectoin -->


  <section class="lighten-2 pt-5 pb-5">

    <div class="flex-center pt-5">

      <!--First row-->
      <div class="row container" style="margin-right: auto; margin-left: auto;">

        <!--First column-->
        <div class="col-md-2">
          <img src="/static/img/Compare.webp" class="img-fluid wow fadeIn" data-wow-delay=".2s">
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-2">
          <img src="/static/img/BeCredit.webp" class="img-fluid wow fadeIn" data-wow-delay=".4s">
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-2">
          <img src="/static/img/Reactive.webp" class="img-fluid wow fadeIn" data-wow-delay=".4s">
        </div>
        <!--/Third column-->

        <!--Fourth column-->
        <div class="col-md-2">
          <img src="static/img/Logistics.webp" class="img-fluid wow fadeIn" data-wow-delay=".2s">
        </div>
        <!--/Fourth column-->

        <!--Fourth column-->
        <div class="col-md-2">
          <img src="static/img/brain.webp" class="img-fluid wow fadeIn" data-wow-delay=".2s">
        </div>
        <!--/Fourth column-->

        <!--Fourth column-->
        <div class="col-md-2">
          <img src="/static/img/OutofBox.webp" class="img-fluid wow fadeIn" data-wow-delay=".2s">
        </div>
        <!--/Fourth column-->
      </div>
      <!--/First row-->
    </div>
  </section>

<!-- end logo sewction -->

<!-- section 3 -->
<div class="team_bg_img">
        <section class="text-lg-left dark-grey-text my-container">
          <!--Grid row-->
          <div class="row">

          	<!--Grid column-->
            <div class="col-md-12 mb-4 mb-md-0">
    		   <h3 class="font-weight-bold color-blue sec_title">We Want to Improve<br>Your Business</h3>
    		  <div class="border-btm"></div>
              <p class="text-muted">Meet our professional and experienced team!</p>
    		</div>
            <!--Grid column-->



          </div>
          <!--Grid row-->

      <div class="row mb-4">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="view mb-4">
          <img src="/static/img/team-1.jpg" class="" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Parsley Montana</h6>
        <small class="text-muted" style="float: left">Business Analyst</small>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6  mb-4">

        <div class="view mb-4">
          <img src="/static/img/team-2.jpg" class="" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Wisteria Ravenclaw</h6>
        <small class="text-muted" style="float: left">Business Analyst</small>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6  mb-4">

        <div class="view mb-4">
          <img src="/static/img/team-3.jpg" class="" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Rodney Artichoke</h6>
        <small class="text-muted" style="float: left">Business Analyst</small>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6  mb-4">

        <div class="view mb-4">
          <img src="/static/img/team-4.jpg" class="" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Parsley Montana</h6>
        <small class="text-muted" style="float: left">Business Analyst</small>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6  mb-4">

        <div class="view mb-4">
          <img src="/static/img/team-5.jpg" class="" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Wisteria Ravenclaw</h6>
        <small class="text-muted" style="float: left">Business Analyst</small>
      </div>
      <div class="col-lg-4 col-md-6  mb-4">

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

        </section>

</div>

<!-- end section 3 -->


<!-- section 4 -->

        <section class="text-lg-left dark-grey-text my-container">

          <!--Grid row-->
          <div class="row">
		<!--Grid column-->
            <div class="col-md-12 col-lg-6 mb-4 mb-md-0">

              <h3 class="font-weight-bold color-blue sec_title">Our Team Will Help You</h3>
    		  <div class="border-btm"></div>
              <p class="text-muted">Our experts are able to find new growth opportunities in your <br>business and help you to develop a strategy.</p><br>
    		<div class="cust_progress">

    			<div class="progress_cover"><span class="progress_title">Fanancial Responsibility</span>
    			<div class="progress">
					<div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
					<span class="progress_per wow fadeInLeft">75%</span>
				</div></div>
				<br>
			<div class="progress_cover">	<span class="progress_title">Business Analysis</span>
				<div class="progress">
				  <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				  <span class="progress_per wow fadeInLeft">75%</span>
				</div></div>
				<br>
			<div class="progress_cover"><span class="progress_title">Verified solutions</span>
				<div class="progress">
				  <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				  <span class="progress_per wow fadeInLeft">75%</span>
				</div></div>

 <script>
     $( document ).ready(function() {
  new WOW().init();
});
 </script>
            </div>
        </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 col-lg-6 mb-4 mb-md-0">

              <!--Image-->
              <div class="view overlay" id="over" style="position:absolute; width:100%; height:100%;">
                <img src="/static/img/image-about-2.jpg" class="img-fluid" alt=""> <!--style="float:left;">-->
                <a href="#">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
<!-- end secyion 4 -->



<!-- section 5 -->
<div class="team_bg_img_testi">
        <section class="text-center text-lg-left dark-grey-text my-container">



      <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-6 col-xs-12">

        <div class="view">
          <img src="/static/img/img-man.webp" class="" alt="smaple image" width="70%">
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-12 verti_align col-lg-6 col-xs-12">
      	<div class="card">
          <div class="card-body m-3">

          	<!-- slider -->

          	<div class="wrapper-carousel-fix">

		          <!-- Carousel Wrapper -->
		          <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide" data-ride="carousel"
		            data-interval="false">
		            <!--Slides-->
		            <div class="carousel-inner" role="listbox">
		              <!--First slide-->
		              <div class="carousel-item active">
		                <p class="lead">"We are ready to prodive you with business consulting services and help with its implementation to your business!"</p>
		                <div class="testi_desc">
		                	<div class="view mx-auto">
			                  <img src="/static/img/testi.jpg" class="rounded-circle img-fluid" alt="smaple image">
			                </div>
			                <div class="testi_data">
			                	<span class="name">Amanda Smith</span>
			                	<span class="position">Founder &amp; SEO Consultant</span>
		                	</div>
		                </div>
		              </div>
		              <!--First slide-->
		              <!--Second slide-->
		              <div class="carousel-item">
		                <p class="lead">"We are ready to prodive you with business consulting services and help with its implementation to your business!"</p>
		                <div class="testi_desc">
		                	<div class="view mx-auto">
			                  <img src="/static/img/testi.jpg" class="rounded-circle img-fluid" alt="smaple image">
			                </div>
			                <div class="testi_data">
			                	<span class="name">Amanda Smith</span>
			                	<span class="position">Founder &amp; SEO Consultant</span>
		                	</div>
		                </div>
		              </div>
		              <!--Second slide-->
		              <!--Third slide-->
		              <div class="carousel-item">
		                <p class="lead">"We are ready to prodive you with business consulting services and help with its implementation to your business!"</p>
		                <div class="testi_desc">
		                	<div class="view mx-auto">
			                  <img src="/static/img/testi.jpg" class="rounded-circle img-fluid" alt="smaple image">
			                </div>
			                <div class="testi_data">
			                	<span class="name">Amanda Smith</span>
			                	<span class="position">Founder &amp; SEO Consultant</span>
		                	</div>
		                </div>
		              </div>
		              <!--Third slide-->
		            </div>
		            <!--Slides-->
		            <!--Controls-->
                      <div style="display: inline-flex;float: right;">
                          <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button"
                          data-slide="prev">
                          <i aria-hidden="true" class="fas fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button"
                          data-slide="next">
                          <i aria-hidden="true" class="fas fa-angle-right"></i>
                        </a>
                      </div>

		            <!--Controls-->
		          </div>
		          <!-- Carousel Wrapper -->

		        </div>

          	<!-- end slider -->

          </div>
   		</div>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
        </section>
    </div>

<!-- end section 5 -->
{% endblock %}
