{% extends 'dashboard/base.html' %}
{% block page_content %}
    <div class="bg-gradiant">
    <div class="container">

			<h1 class="text-center color-blue font-weight-bold">Get All The Services You Need<br> for Your Business.</h1>
	</div>
</div>

<!-- section 1 -->

<div class="team_bg_img_secrivce">

    <section class="text-center text-lg-left dark-grey-text my-container">


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4">
          <div class="view mb-4 z-depth-1">
              <div class="card promoting-card">


                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="/static/img/serv-tem-img.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <div class="collapse-content">

                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-2 col-md-3 col-2 cust_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><g clip-path="url(#a)"><circle cx="22" cy="22" r="22" fill="#FFF5F1"></circle><path stroke="#FF6229" stroke-width="2" d="M36 16l10 10M32 19.06c-4.65-2.05-10.25-1.13-14.04 2.76-.78.8-1.43 1.67-1.96 2.6L21.45 30M42.9 30c2.1 4.94 1.2 10.9-2.7 14.93-.8.83-1.68 1.5-2.6 2.07L32 41.2"></path><path fill-rule="evenodd" stroke="#FF6229" stroke-width="2" d="M28.23 43L19 33.77S26.88 14.15 49 13c-1.25 22.02-20.77 30-20.77 30zM13 45c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4c-.9 0-4 0-4 0s0-2.7 0-4zM33.5 32c1.93 0 3.5-1.57 3.5-3.5S35.43 25 33.5 25 30 26.57 30 28.5s1.57 3.5 3.5 3.5z" clip-rule="evenodd" stroke-linecap="square"></path></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h50v50H0z"></path></clipPath></defs></svg>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">Market Analysis</h4>
                        <p class="grey-text">Marketing research, analysis and creating marketing plan.</p>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>

                </div>

              </div>
              <!-- Card -->

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!-- Grid column -->
        <div class="col-md-4">
          <div class="view mb-4 z-depth-1">
              <div class="card promoting-card">


                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="/static/img/serv-tem-img-2.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <div class="collapse-content">

                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-2 col-md-3 col-2 cust_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><circle cx="22" cy="22" r="22" fill="#FFF5F1"></circle><path stroke="#FF6229" stroke-width="2" d="M25.5 21.5h2M32.5 21.5h10M25.5 27.5h2M32.5 27.5h10M25.5 34.5h2M32.5 34.5h10M25.5 40.5h8" stroke-linecap="square"></path><path stroke="#FF6229" stroke-width="2" d="M38.5 49V39h10"></path><path fill-rule="evenodd" stroke="#FF6229" stroke-width="2" d="M38.83 49H19.5V13h29v26.18L38.83 49z" clip-rule="evenodd" stroke-linecap="square"></path></svg>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">Escrow Services</h4>
                        <p class="grey-text">Helping lenders and servicers transform their business.</p>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>

                </div>

              </div>
              <!-- Card -->

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->

      <!-- Grid column -->
        <div class="col-md-4">
          <div class="view mb-4 z-depth-1">
              <div class="card promoting-card">


                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="/static/img/serv-tem-img-3.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <div class="collapse-content">

                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-2 col-md-3 col-2 cust_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><circle cx="22" cy="22" r="22" fill="#FFF5F1"></circle><path fill-rule="evenodd" stroke="#FF6229" stroke-width="2" d="M47.5 15.5h-18v16l6.75-5.33H47.5V15.5zM29.5 46.75c0-.9-.4-1.76-1.15-2.33-1.12-.86-3.07-1.92-5.85-1.92s-4.73 1.06-5.85 1.92c-.74.57-1.15 1.43-1.15 2.33v1.75h14v-1.75zM22 38.5c1.93 0 3.5-1.57 3.5-3.5s-1.57-3.5-3.5-3.5-3.5 1.57-3.5 3.5 1.57 3.5 3.5 3.5zM48.5 46.75c0-.9-.4-1.76-1.15-2.33-1.12-.86-3.07-1.92-5.85-1.92s-4.73 1.06-5.85 1.92c-.74.57-1.15 1.43-1.15 2.33v1.75h14v-1.75zM42 38.5c1.93 0 3.5-1.57 3.5-3.5s-1.57-3.5-3.5-3.5-3.5 1.57-3.5 3.5 1.57 3.5 3.5 3.5z" clip-rule="evenodd" stroke-linecap="square"></path></svg>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">Optimization</h4>
                        <p class="grey-text">We provide the most full legal help to our clients.</p>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>

                </div>

              </div>
              <!-- Card -->

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->

      <!-- Grid column -->
        <div class="col-md-4">
          <div class="view mb-4 z-depth-1">
              <div class="card promoting-card">


                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="/static/img/serv-tem-img-4.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <div class="collapse-content">

                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-2 col-md-3 col-2 cust_icons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><circle cx="22" cy="22" r="22" fill="#FFF5F1"></circle><path fill-rule="evenodd" stroke="#FF6229" stroke-width="2" d="M45.2 28.1l-13.37-2.28V17.7c0-1.5-1.2-2.7-2.7-2.7-1.5 0-2.7 1.2-2.7 2.7v12.75H24.1c-1.7 0-3.1 1.4-3.1 3.1v4.47c0 2.1.72 4.15 2.04 5.8L26.42 49h20.12l2.4-15.63c.4-2.48-1.28-4.82-3.75-5.27z" clip-rule="evenodd" stroke-linecap="square"></path><path stroke="#FF6229" stroke-width="2" d="M34.5 35v8M40.5 35v8" stroke-linecap="square"></path><path fill="#FF6229" d="M25.42 27.4h2v6.96h-2z"></path></svg>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">Wealth Management</h4>
                        <p class="grey-text">Businesses with all financial services including consultations</p>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>

                </div>

              </div>
              <!-- Card -->

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->

      <!-- Grid column -->
        <div class="col-md-4">
          <div class="view mb-4 z-depth-1">
              <div class="card promoting-card">


                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="/static/img/serv-tem-img-5.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <div class="collapse-content">

                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-2 col-md-3 col-2 cust_icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><circle cx="22" cy="22" r="22" fill="#FFF5F1"></circle><path stroke="#FF6229" stroke-width="2" d="M44.33 20H49v23H28M18.57 43H14V20h16" stroke-linecap="square"></path><path fill-rule="evenodd" stroke="#FF6229" stroke-width="2" d="M43.18 31H30.82c-.45 0-.82-.36-.82-.8V15.8c0-.44.37-.8.82-.8h12.36c.45 0 .82.36.82.8v14.4c0 .44-.37.8-.82.8zM27.18 49h-7.36c-.45 0-.82-.36-.82-.8V36.8c0-.44.37-.8.82-.8h7.36c.45 0 .82.36.82.8v11.4c0 .44-.37.8-.82.8z" clip-rule="evenodd" stroke-linecap="square"></path><path stroke="#FF6229" stroke-width="2" d="M31 47.5h5M23 44.5h1M36 27.5h2" stroke-linecap="square"></path></svg>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">Confidentiality</h4>
                        <p class="grey-text">Check all the business problems and find new directions.</p>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>

                </div>

              </div>
              <!-- Card -->

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->

      <!-- Grid column -->
        <div class="col-md-4">
          <div class="view mb-4 z-depth-1">
              <div class="card promoting-card">


                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="/static/img/serv-tem-img-6.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <div class="collapse-content">

                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-2 col-md-3 col-2 cust_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><circle cx="22" cy="22" r="22" fill="#FFF5F1"></circle><path fill-rule="evenodd" stroke="#FF6229" stroke-width="2" d="M12 15l18 4.95L48 15v28.05L30 48l-18-4.95V15z" clip-rule="evenodd" stroke-linecap="square"></path><path stroke="#FF6229" stroke-width="2" d="M18 38l7 2M25 26l-7-2M25 33l-7-2M42 38l-7 2M35 26l7-2M35 33l7-2" stroke-linecap="square"></path></svg>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">Legal Services</h4>
                        <p class="grey-text">You will get professional help in resolving conflicts.</p>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>

                </div>

              </div>
              <!-- Card -->

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->
      </div>
    </section>

</div>

<!-- end section 1 -->



<!-- section 2 -->
<div class="team_bg_img_pricing mt-5 my-container">
        <section class="text-center text-lg-left dark-grey-text my-container">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-5 pb-5 mb-md-0">
              <h3 class="font-weight-bold color-blue sec_title">Best Prices for You</h3>
              <div class="border-btm"></div>
              <p class="text-muted">Select the most appropriate plan for you!</p>
              <br><br>

               <!-- Grid row -->
                <div class="row mb-5">

                  <!-- Grid column -->
                  <div class="col-lg-6 col-md-12 mb-4">

                    <!-- Card -->
                    <div class="card">

                      <!-- Content -->
                      <div class="card-body text-center">

                        <!-- Offer -->
                        <h5 class="color-blue font-weight-bold">Premium</h5>

                        <!--Price -->
                        <h2 class="font-weight-bold my-4 color-blue pricing_price">$199</h2>
                        <p class="color-orange">Per Month</p>
                        <p class="pricing_txt">Financial and Tax Accounting<br>
                        Financial and Tax Reporting<br>
                        Personnel Record Keeping<br>
                        Consulting on Current Issues<br></p>
                        <a class="btn btn-indigo btn-rounded btn-normal">Buy now</a>
                        <img class="card-tag" src="/static/img/sale.webp" alt="Card image cap">

                      </div>
                      <!-- Content -->

                    </div>
                    <!-- Card -->

                  </div>
                  <!-- Grid column -->

                   <!-- Grid column -->
                  <div class="col-lg-6 col-md-12 mb-4">

                    <!-- Card -->
                    <div class="card">

                      <!-- Content -->
                      <div class="card-body text-center">

                        <!-- Offer -->
                        <h5 class="color-blue font-weight-bold">Premium</h5>

                        <!--Price -->
                        <h2 class="font-weight-bold my-4 color-blue pricing_price">$169</h2>
                        <p class="color-orange">Per Month</p>
                        <p class="pricing_txt">Financial and Tax Accounting<br>
                        Financial and Tax Reporting<br>
                        Personnel Record Keeping<br>
                        Consulting on Current Issues<br></p>
                        <a class="btn btn-indigo btn-rounded btn-normal">Buy now</a>

                      </div>
                      <!-- Content -->

                    </div>
                    <!-- Card -->

                  </div>
                  <!-- Grid column -->


                </div>
                <!-- Grid row -->



            </div>
            <!--Grid column-->

            <!--Grid column-->
           <div class="col-md-7 mb-lg-0 CNT_FRM_SPAC">


            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>

</div>
<!-- end secyion 2 -->
{% endblock %}
